@using Forum.Web.Models;
@model ErrorViewModel
@{
	ViewData["Title"] = "Error";
}

<div class="text-center">

	<h5 cstyle="color: blue;">@Model.ErrorMessage</h5>
	<img src="~/images/errorImage.jpeg" width="600px" class="mt-5" />
</div>
